.footer-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2em;
}

.footer-list ul {
    margin: 0;
    padding: 0;
}

.footer-list-item {
    list-style: none;
    padding: 1em;
    color: gray;
}
